<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>search</title>
    </head>

    <body>
        <div class="container">
            <% find.forEach((item) => { %>
                <li>
                  <li class="item-data">
                    <span class="title-column"><%= item.title %></span>
                    <span class="contents-column"><%= item.body %></span>
                    <span class="date-column"><%= item.due_date %></span>
                    <span class="completed-at"><%= item.completed_at %></span>
                    <span class="created-date"><%= item.created_at %></span>
                    <form action="/delete/<%= item.id %>" method="POST">
                        <button type="submit">削除</button>
                      </form>
                      <a href="/edit/<%=item.id%>">編集</a>
                      <form action="/clone/<%=item.id%>" method="GET">
                        <button type="submit">複製する</button>
                      </form>
                </li>
            <%})%>
            <div class="back">
                <a href='/'>戻る</a>
            </div>
        </div>
    </body>
</html>